name: Sync rolling

on:
  schedule:
    - cron: "0 9 * * 1"
  workflow_dispatch:

permissions:
  actions: write # Trigger workflows
  contents: write # Push commits

jobs:
  sync-and-test:
    runs-on: [self-hosted, Linux]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name 'GitHub Actions Bot'
          git config user.email 'actions@github.com'

      - name: Copy patches to temp directory
        run: cp -R patches "$RUNNER_TEMP"

      - name: Add upstream remote
        run: |
          git remote add upstream https://github.com/NixOS/nixpkgs.git
          git fetch upstream

      - name: Create fresh branch from upstream
        run: |
          git checkout -B bump-rolling upstream/nixpkgs-unstable

      - name: Remove nixpkgs workflows
        run: |
          rm -rf .github
          git add -A
          git commit -m "ci: remove nixpkgs workflows"

      - name: Apply patches
        run: |
          for patch in $RUNNER_TEMP/patches/*.patch; do
            echo "Applying patch: $patch"
            if ! git am "$patch"; then
              echo "Failed to apply patch: $patch"
              exit 1
            fi
          done

      - name: Push branch
        run: git push -f origin bump-rolling

      - name: Trigger devenv tests
        run: |
          gh workflow run devenv.yml --ref main -R ${{ github.repository }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
